{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="container text-center">
    <h1 class="mt-3">Rate The Work</h1>
    <form class="d-flex mt-5 h-100 " role="search" method="GET" action="{% url 'home' %}">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
    <div class="home-info">
        <p>Welcome to <span class="home-info-title">Rate the Work</span> a platform where individuals and companies
            alike
            can showcase their
            projects and
            receive valuable feedback. Whether you're a company looking to display your portfolio or an individual
            seeking a
            second opinion on works completed for you, the Rate The Work community is here to assist you.
        </p>
        <p>
            Our platform aims to create a collaborative environment where users can share their experiences, insights,
            and
            expertise to help one another grow and improve. By providing a space for constructive criticism and
            constructive
            feedback, we empower users to refine their craft and make informed decisions about their projects.
            Join us on this journey as we work together to elevate the quality of workmanship and creativity
            across all industries.
        </p>
        <p>
            We encourage users to suggest a price they would pay for the work they are rating.
            For added engagement, we've included the option for users to select a negative price if they believe the
            work
            warrants a refund or if they consider it to be of exceptionally poor quality.
            Please provide justification for your pricing suggestion along with your comment.
        </p>
    </div>

    <!-- Display search results -->
    {% if query %}
    <h2>Search Results:</h2>
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        {% for w in object_list %}
        <a href="{% url 'work_detail' pk=w.pk %}" class="work" aria-label="Click to view {{ w.title }}">
            <div class="card m-3" style="width: 18rem;">
                <img src="{{ w.work_image.url }}" class="card-img-top img-fluid" alt="{{ w.title }}">
                <div class="card-body">
                    <h2 class="card-title">{{ w.title }}</h2>
                    <div>
                        {% for category in w.categories.all %}
                        <p>{{ category.name }}</p>
                        {% endfor %}
                    </div>
                    <p><i class="fa-regular fa-thumbs-up"></i>{{ w.likes.all.count }}</p>
                    <p class="card-content">{{ w.content|truncatechars:100 }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <!-- Pagination -->
    {% if object_list.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if object_list.has_previous %}
            <li class="page-item"><a href="?page={{ object_list.previous_page_number }}" class="page-link">&laquo;
                    Previous</a></li>
            {% endif %}
            {% if object_list.has_next %}
            <li class="page-item"><a href="?page={{ object_list.next_page_number }}" class="page-link">Next &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% endif %}
</section>
{% endblock %}