{% extends 'base.html' %}
{% load static %}

{% block title %}Work{% endblock %}

{% block content %}
<section class="text-center">
    <h1 class="p-2">Work</h1>
    <a href="#" class="btn btn-primary ">Create Work</a>
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        {% for w in work %}
        <a href="{% url 'work_detail' pk=w.pk %}" class="work" aria-label="Click to view {{ w.title }}">
            <div class="card m-3" style="width: 18rem;">
                <img src="{{ w.work_image.url }}" class="card-img-top" alt="{{ w.title }}">
                <div class="card-body">
                    <h2 class="card-title">{{ w.title }}</h2>
                    <div>
                        {% for category in w.categories.all %}
                        <p class="text-decoration-none"><strong>Category:</strong> {{ category.name }}
                        </p>
                        {% endfor %}
                    </div>
                    <p><strong>Likes:</strong> {{ w.likes.all.count }} <i class="fa-regular fa-thumbs-up"></i></p>
                    <p class="card-text"><strong>Description:</strong> {{ w.content|truncatechars:100 }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}