{% extends "base.html" %}

{% block title %}Edit Work{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% load cloudinary %}
<div class="container">
    <form method="POST" enctype="multipart/form-data" class="p-2 form">
        <h1 class="text-center">Edit Work</h1>
        {% csrf_token %}
        {{ work_form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2" value="Save">Click here</button>
        </div>
    </form>
</div>
{% endblock %}