{% extends "base.html" %}
{% load static %}

{% block title %}Work Detail - {{ work.title }}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!-- image area -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4 mt-3">
                <img src="{{ work.work_image.url }}" alt="{{ work.title }}" class="card-img-top img-fluid">
                <div class="card-body">
                    <h1 class="card-title">{{ work.title }}</h1>
                    <p class="card-text">Posted by {{ work.user }} on {{ work.created_on }}</p>
                    <hr>
                    {% if request.user == work.user %}
                    <div class="text-center">
                        <a href="{% url 'edit_work' work.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_work' work.id %}" class="btn btn-danger">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- description area -->
        <div class="col-md-6">
            <div class="card mb-4 mt-3">
                <div class="card-body">
                    <h2 class="card-title">
                        Description
                        <i class="fa-solid fa-pen"></i>
                    </h2>
                    <hr>
                    <p class="card-text">{{ work.content }}</p>
                </div>
            </div>
            <div class="card mb-4 mt-3">
                <div class="card-body">
                    {% for category in work.categories.all %}
                    <h2 class="card-title">
                        Category
                        <i class="fa-solid fa-list"></i>
                    </h2>
                    <hr>
                    <p class="card-text">{{ category.name }}</p>
                    {% endfor %}
                    <h2 class="card-title">
                        Sub-Category
                        <i class="fa-solid fa-list"></i>
                    </h2>
                    <hr>
                    <p class="card-text">{{ work.sub_category }}</p>
                </div>
            </div>

        </div>
    </div>

    <!-- Comment area and Leave comment area -->
    <div class="row">
        <!-- Comment area -->
        <div class="col-md-8">
            <div class="card mb-4 mt-3">
                <h3 class="card-header">
                    Comments
                    <i class="far fa-comment"></i>
                </h3>
                <div class="card-body">
                    {% for rating in ratings %}
                    {% if rating.work == work %}
                    <div class="{% if not rating.approved %}d-none{% endif %}">
                        <p class="font-weight-bold">{{ rating.user }}</p>
                        <p class="text-muted">{{ rating.created_on }}</p>
                        <p>{{ rating.content | linebreaks }}</p>
                        {% if user.is_authenticated and rating.user == user %}
                        <div class="text-center">
                            <a href="{% url 'edit_comment' rating.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'delete_comment' rating.id %}" class="btn btn-danger">Delete</a>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Leave comment area -->
        <div class="col-md-4">
            <div class="card mb-4 mt-3">
                <div class="card-body">
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}

                    <!-- Likes area-->
                    <h3 class="card-title">
                        Leave a like
                        <i class="fa-regular fa-heart"></i>
                    </h3>
                    <hr>
                    <form class="d-inline" action="{% url 'work_like' work.pk %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="blogwork_id" value="{{work.pk}}" class="btn-primary"><i
                                class="fas fa-heart"></i></button>
                        {% else %}
                        <button type="submit" name="blogwork_id" value="{{work.pk}}" class="btn-primary"><i
                                class="far fa-heart"></i></button>
                        {% endif %}
                    </form>
                    <p class="card-text mt-1">Total Likes: {{ work.likes.all.count }}</p>
                    <!-- End likes area-->
                    <h3 class="card-title mt-2">
                        Leave a comment
                        <i class="fa-regular fa-comment"></i>
                    </h3>
                    <hr>
                    <p class="card-text">Posting As: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {% csrf_token %}
                        {{ rating_form | crispy }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% endblock %}