{% extends 'base.html' %}
{% load static %}

{% block title %}About us{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 class="mt-3">About us</h1>

    <div class="page-intro">
        <p>
            Welcome to "Rate the Work," a dynamic platform designed to facilitate the exchange of creative endeavours
            and constructive feedback. Whether you're an individual seeking a second opinion on completed projects or
            a company eager to showcase your portfolio, Rate the Work offers a supportive community where you can
            thrive.
        </p>
        <p>
            Our mission is simple: to create a collaborative environment where users can share their experiences,
            insights,
            and expertise to help one another grow and improve. By fostering a space for constructive criticism and
            feedback,
            we empower users to refine their craft and make informed decisions about their projects.
        </p>
        <p>
            Rate the Work is more than just a platform, it's a community-driven initiative dedicated to driving
            innovation
            and excellence across all industries. We believe in the power of collective feedback to inspire creativity,
            encourage growth, and elevate the quality of workmanship.
        </p>
        <p>
            Join us on this journey as we unite creative minds from around the globe to celebrate diversity, foster
            collaboration,
            and push the boundaries of what's possible. We encourage users to suggest how much they would pay for the
            work along
            with their comments, all posts and comments are monitored and approved to ensure there is no inappropriate
            behaviour.
        </p>
    </div>
</div>
{% endblock %}